version: '3.9'

services:
  postgres:
    image: postgres:latest
    container_name: postgres_container_notificator
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    ports:
      - "5433:5432"